@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap");
body,
html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Space Mono", monospace;
}

h2 {
	font-family: "Space Mono", monospace;
	color: #3489f8;
	font-size: 1.75em;
	margin-bottom: -2px;
}

p {
	font-family: "Space Mono", monospace;
	font-size: 1.3em;
	color: #0a3a7e;
	text-align: justify;
}

.row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 5% 5% 0% 0%;
}

.col {
	/* padding: 10%; */
	max-width: 50%;
}

.col > #card {
	background: inherit;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	width: 38%;
	text-align: center;
}

.col > p {
	margin-left: -10%;
}

.row2 {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	/* background-color: #3489f8; */
	margin: 5px;
	border-style: solid;
	border-color: #3489f8;
	border-radius: 50px 50px 0px 0px;
}

.row2 > .col3 {
	max-width: 20%;
	margin: 2%;
	border-radius: 40px;
	padding: 1%;
	/* background-color: #559efd; */
	box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.747),
		6px 6px 15px rgba(124, 124, 124, 0.747);
}

.img {
	width: 15%;
	margin: 5% 5% 5% 65%;
}

.sticktop {
	position: absolute;
	margin: -1% 0% 0% -1%;
	/* background-color: #fff6bb; */
	background-image: url(../img/bg2.png);
	width: 100px;
	padding: 15px 20px;
	border-radius: 40px 0px 30px 0px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.cont {
	font-family: "Space Mono", monospace;
	font-size: 1em;
	color: #0a3a7e;
}

span {
	font-family: "Space Mono", monospace;
	font-size: 1.2em;
	color: #fff;
}

ul {
	background-color: inherit;
	border-style: none none none solid;
	border-color: inherit;
	border-radius: 0px 20px 20px 0px;
	/* background-image: linear-gradient(to left, #fff6bb, #fff6bb31); */
	margin: 2%;
	width: 50%;
	font-family: "Space Mono", monospace;
	font-size: 1.2em;
	text-align: justify;
}

#FrontEnd {
	background-color: #046fc733;
}

#BackEnd {
	background-color: #17580336;
}

#Other {
	background-color: #8300002c;
}

#FrontEnd > .sticktop {
	background-color: #3489f8;
}

#BackEnd > .sticktop {
	background-color: #31c704;
}

#Other > .sticktop {
	background-color: #f83434c4;
}

@media (max-width: 840px) {
	.row {
		margin: 5% 5% 0% 5%;
		flex-flow: column-reverse wrap-reverse;
	}
	.col {
		max-width: 100%;
	}
	.col > p {
		margin-left: 0%;
		font-size: 1em;
	}
	.row2 {
		flex-direction: column;
		align-items: space-between;
		overflow: show;
	}
	.row2 > .col3 {
		max-width: 80%;
		margin-top: 40px;
	}

	span {
		font-size: 1em;
	}
}

#left {
	transition: all 0.4s ease-in-out;
	animation: fadeLeft 1s linear 0s 1;
}

#right {
	transition: all 0.4s ease-in-out;
	animation: fadeRight 1s linear 0s 1;
}

#bottom {
	transition: 0.5s ease;
	animation: fadeUp 1s linear 0s 1;
}

@keyframes fadeLeft {
	0% {
		transform: translate(-1000px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes fadeRight {
	0% {
		transform: translate(1000px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes fadeUp {
	0% {
		transform: translate(0px, 1000px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

#header {
	display: flex;
	flex-direction: row;
	background-color: #3489f8;
	background-image: url(../img/bg2.png);
	border-radius: 0px 0px 40px 40px;
	align-content: space-around;
	align-items: flex-start;
	justify-content: space-between;
	transition: all 0.4s ease-in-out;
	animation: fadeDown 1s linear 0s 1;
	margin: 5px;
	margin-top: -5px;
}

@keyframes fadeDown {
	0% {
		transform: translate(0px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.button {
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Space Mono", monospace;
	background: #3489f8;
	background-image: url(../img/bg2.png);
	display: block;
	padding: 7px 15px;
	width: max-content;
	margin: 0.75% 5%;
}

.button:hover {
	cursor: pointer;
}

.bticon {
	width: 20px;
	margin-right: 10px;
}

.stroke {
	margin: 0%;
	display: flex;
	align-items: center;
	font-family: "Space Mono", monospace;
	font-size: 1.2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
}

@media (max-width: 840px) {
	.stroke {
		font-size: 0.9em;
	}
	ul {
		font-size: 1em;
	}
	h2 {
		font-size: 1.5em;
	}
	.button {
		margin: 2% 5%;
	}
}
