@import url("https://api.fontshare.com/v2/css?f[]=synonym@400,600,700&f[]=chillax@300,400,600,700&display=swap");

@import "tailwindcss";
@import "./tw.vars.css";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-foreground);
  font-size: 16px;
  line-height: 1.7;
}

.second-font {
  font-family: var(--font-sans-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-sans-secondary);
  line-height: 1.2;
  font-weight: 500;
}

p{
  margin: 0;
  font-size: 1rem;
}

h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--color-primary);
}
a:hover {
  text-decoration: underline var(--color-secondary);
}

p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@layer components {
  .card {
    background-color: var(--card);
    padding: calc(var(--spacing) * 6) calc(var(--spacing) * 8);
    box-shadow: var(--shadow-xs);
    border-radius: var(--radius-lg);
    height: 100%;
    border: 1px dashed var(--color-border);
    position: relative;
    &::before{
        content: "+";
        position: absolute;
        top: -14px;
        left: -4px;
        color: var(--color-border);
    }
    &::after{
        content: "+";
        position: absolute;
        bottom: -14px;
        right: -4px;
        color: var(--color-border);
    }
  }
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
