---
// import HeaderLink from "./HeaderLink.astro";
import { ThemeToggle } from "./solid/ThemeToggle.tsx";
import Logo from "../assets/logo.svg";
---

<header class="fixed w-full px-4 py-2 z-10 backdrop-blur-xl">
  <div class="mx-auto max-w-4xl">
    <nav class="flex items-center justify-between">
      <div class="font-bold text-lg">
        <a href="/">
          <Logo width={46} height={46} fill="currentColor" />
        </a>
      </div>
      <div class="flex items-center gap-4">
        <!-- <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blogs</HeaderLink> -->
        <ThemeToggle client:load />
      </div>
    </nav>
  </div>
</header>
