.aboutContainer {
	width: 92%;
	height: 45rem;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 36px;
}

.aboutContainer p{
	font-size: 22px;
	text-align: justify;
}

.knownStack {
	display: flex;
	gap: 36px;
	flex-wrap: wrap;
	opacity: 90%;
}
