.aboutContainer {
	width: 80%;
	height: 45rem;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 42px;
}

.aboutContainer p{
	font-size: 22px;
	text-align: justify;
}

.knownStack {
	display: flex;
	gap: 36px;
	flex-wrap: wrap;
	align-self: center;
	opacity: 90%;
}


@media (max-width: 980px) {
	.aboutContainer {
		width: 100%;
	}
	.aboutContainer p {
		font-size: 20px;
	}
}
