@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "variables.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Itim', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page{
  width: 100%;
  /* min-height: 99vh; */
  display: flex;
  justify-content: center;
}

*::selection  {
  color: var(--primary-text);
  background: var(--primary-yellow-100);
}

*::-moz-selection{
  color: var(--primary-text);
  background: var(--primary-yellow-100);
}

.hand {
	cursor: pointer;
	margin: 0 10px;
}


.wave{
	animation: wave-animation 1s ease-in-out;
}

.hand:hover{
	animation: wave-animation 1s ease-in-out infinite;
}

@keyframes wave-animation {
	from {
		transform: none;
	}

	15% {
		transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}

	30% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
	}

	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}

	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
	}

	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
	}

	to {
		transform: none;
	}
}

.bgOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
