.main {
	width: 100%;
	height: 100%;
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	color: var(--primary-text);
	border-top: 1px solid var(--shadow-color);
	background-color: var(--primary-bg);
}

.bgSvg1 {
	position: fixed;
	top: -42px;
	right: -120px;
	opacity: 8%;
}

.bgSvg2 {
	position: fixed;
	transform: rotate(40deg);
	bottom: -32px;
	left: -42px;
	opacity: 8%;
}

.rotatingDiv {
	position: fixed;
	bottom: -40px;
	left: -50px;
	width: 120px;
	height: 120px;
	border-radius: 5px;
	background: var(--primary-text);
	opacity: 10%;
	/* border: 1px solid var(--primary-text); */
	animation: rotateBox 60s infinite linear;
	box-shadow: 1px 1px 16px var(--shadow-color);
}

@keyframes rotateBox {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@media (max-width: 980px) {
	.rotatingDiv{
		z-index: -1;
	}
}

/* @media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {

} */
