.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	color: var(--primary-text);
	border-top: 1px solid var(--shadow-color);
	background-color: var(--primary-bg);
}

.button {
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;
	color: var(--primary-text);
	background: var(--primary-yellow-100);
	border: 1px solid var(--primary-yellow-400);
	border-radius: 2px;
}

/* @media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {

} */
