

:root {
  --primary-bg: #07305c;
  --primary-bg-10: #076db641;
  --primary-text: #D7ECF5;
  --secondary-text: #07305c;
  --shadow-color: #CEDEF3;
  
  /* Theme colors */
  --primary-yellow-400: #FCBC55;
  --primary-yellow-200: #dca339e1;
  --primary-yellow-100: #e5c17c;
}

/* [data-theme="dark"] {
  --primary-bg: #29363A;
  --primary-text: #D7ECF5;
}

@media (prefers-color-scheme: dark){
  :root{
    --primary-bg: #29363A;
    --primary-text: #D7ECF5;
  }
} */