.worksContainer {
	width: 80%;
	min-height: 900px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 24px;
}

.worksWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 28px;
}

.desktopContainer {
	position: relative;
	width: 350px;
	border-radius: 12px;
	color: var(--primary-text);
	border: 2px solid;
	height: max-content;
}

.menuBar {
	background-color: var(--primary-text);
	height: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 0 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.desktopHero,
.mobileHero {
	height: 30%;
	background-color: var(--primary-yellow-100);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 24px 16px;
	font-size: 22px;
}

.desktopContent {
	padding: 16px;
	font-size: 18px;
	text-align: justify;
}

.circle1,
.circle2,
.circle3 {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: var(--primary-yellow-100);
	cursor: pointer;
}

.desktopContainer:hover .circle1 {
	background: #ff554b;
}
.desktopContainer:hover .circle2 {
	background: #feb328;
}
.desktopContainer:hover .circle3 {
	background: #24c13a;
}

.mobileContainer {
	width: 200px;
	border-radius: 12px;
	color: var(--primary-text);
	border: 4px solid;
	height: max-content;
	position: relative;
}

.mobileHero {
	padding: 12px;
}

.mobileContent {
	padding: 12px;
	font-size: 18px;
	text-align: justify;
}

.topBar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	padding: 0 6px;
	background-color: var(--primary-yellow-100);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.notch {
	width: 60px;
	height: 12px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: var(--primary-text);
}

.time {
	width: 65px;
	font-size: 12px;
}

.linksRow{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
	padding: 12px 16px;
	padding-top: 0px;
}

.linksRow  svg:hover{
	cursor: pointer;
}